.hero {
    height: -webkit-calc(100vh - 100px);
    height:    -moz-calc(100vh - 100px);
    height:         calc(100vh - 100px);
    width: 100%;
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    padding: $mobile-gutter;

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    span {
        background-color: $light-blue;
        font-size: 28px;
        padding: 7px;
        line-height: 1.9;
        color: $copy-green;
    }
}

.intro {
    background-color: $tan;
    padding: $mobile-gutter*2 $mobile-gutter - 10;

    p {
        font-size: 24px;
    }

    .intro_photo {
        padding-left: -15px;
        padding-right: -15px;
    }
}

.team-member-page {
    .rural-farmers {
        h1 {
            display: none;
        }
    }
}

.case-studies {
    height: -webkit-calc(100vh);
    height:    -moz-calc(100vh);
    height:         calc(100vh);
    color: white;
    display: flex;
    overflow: hidden;

    .overlay {
        height: -webkit-calc(100vh);
        height:    -moz-calc(100vh);
        height:         calc(100vh);
        width: 50%;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        right: 0;
        z-index: 0;
        transition: all 300ms ease-in-out;
        padding: $gutter*2;
        color: white;
        
        .close {
            font-size: 30px;
            position: absolute;
            top: 30px;
            right: 30px;
            color: white;
            border: 0px;
            background: none;
            padding: 30px;
            width: auto;
            cursor: pointer;
        }

        &.open-right {
            right: 0px!important;
            opacity: 1!important;
            z-index: 1!important;
        }

        &.open-left {
            left: 0px!important;
            opacity: 1!important;
            z-index: 1!important;
        }
    }
    
    
    .case-study {
        cursor: pointer;
        transition: all 300ms ease-in-out;

        .case-study-image {
            display: flex;
            transition: all 500ms ease-in-out;

            img {
                object-fit: cover;
                height: -webkit-calc(100vh);
                height:    -moz-calc(100vh);
                height:         calc(100vh);
                width: 100%;
                transition: all 500ms ease-in-out;
            }
        }

        &.full-height {
            height: -webkit-calc(100vh);
            height:    -moz-calc(100vh);
            height:         calc(100vh);
            overflow: hidden;
            
            .case-study-image {
                display: flex;
                transition: all 500ms ease-in-out;

                img {
                    object-fit: cover;
                    height: -webkit-calc(100vh);
                    height:    -moz-calc(100vh);
                    height:         calc(100vh);
                    width: 100%;
                    transition: all 500ms ease-in-out;
                }
            }
        }

        &.tall-height {
            height: -webkit-calc(60vh);
            height:    -moz-calc(60vh);
            height:         calc(60vh);
            overflow: hidden;

            &:hover {
                height: -webkit-calc(100vh);
                height:    -moz-calc(100vh);
                height:         calc(100vh);
                overflow: hidden;
                top: 0px;
                
                &.left {
                    margin-top: -40vh
                }
            }
        }

        &.small-height {
            height: -webkit-calc(40vh);
            height:    -moz-calc(40vh);
            height:         calc(40vh);
            overflow: hidden;

            .case-study-image {
                display: flex;
                height: 100%;
                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }

            .top {
                order: 1;
            }

            &.right-contained {
                position: absolute;
                right: 0px;
                z-index: 0;
            }

            &:hover {
                height: -webkit-calc(100vh)!important;
                height:    -moz-calc(100vh)!important;
                height:         calc(100vh)!important;
                max-width: 100% !important;
                flex: 0 0 100%;

                &.right {
                    margin-top: -60vh;
                }

                &.right-contained {
                    z-index: 10;
                    
                }

                &.left-contained {
                    z-index: 20;
                    display: block;
                }

            }

            
        }

        &:hover {
            .case-study-copy {
                transition: all 500ms ease-in-out;
                transition-delay: 200ms;
                height: -webkit-calc(40vh);
                height:    -moz-calc(40vh);
                height:         calc(40vh);
                bottom: 0;
            }
        }

        .case-study-copy {
            padding: $mobile-gutter*2 $mobile-gutter;
            position: absolute;
            bottom: 0px;
            background-color: $lighter-green;
            left: 0px;
            width: 100%;
            height: -webkit-calc(30vh);
            height:    -moz-calc(30vh);
            height:         calc(30vh);
            transition: all 500ms ease-in-out;
            bottom: -30vh;
        
            h3 {
                font-family: $circular-book!important;
            }
    
            h2 {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        
    }

}


.cta {
    background-color: $tan;
    padding: $gutter*1.5 $mobile-gutter - 10;
    p {
        font-size: 28px;
        line-height: 65px;

        a {
            color: $black;
            border-bottom: 2px solid $black;
            padding-bottom: 2px;
        }
        
    }
}