.hero {
    height: -webkit-calc(100vh - 100px);
    height:    -moz-calc(100vh - 100px);
    height:         calc(100vh - 100px);
    width: 100%;
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    padding: $mobile-gutter;

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    h1 {
        line-height: 1.4;
    }
    
    span {
        @extend .background-span-blue;
    }
}

.intro {
    background-color: $tan;
    padding: $mobile-gutter*2 $mobile-gutter - 10;

    p {
        font-size: 24px;
    }

    .intro_photo {
        padding-left: -15px;
        padding-right: -15px;
    }
}

.team-member-page {
    .rural-farmers {
        h1 {
            display: none;
        }
    }
}

.case-studies {
    height: -webkit-calc(100vh);
    height:    -moz-calc(100vh);
    height:         calc(100vh);
    color: white;
    display: flex;
    overflow: hidden;

    .overlay {
        height: -webkit-calc(100vh);
        height:    -moz-calc(100vh);
        height:         calc(100vh);
        width: -webkit-calc(100vw);
        width:    -moz-calc(100vw);
        width:         calc(100vw);
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        z-index: -1;
        transition: all 300ms ease-in-out;
        padding: $gutter*2;
        color: white;
        
        .close {
            font-size: 30px;
            position: absolute;
            top: 30px;
            right: 30px;
            color: white;
            border: 0px;
            background: none;
            padding: 30px;
            width: auto;
            cursor: pointer;
        }

        &.open-right {
            opacity: 1!important;
            z-index: 1!important;
        }

        &.overlay-right {
            right: -webkit-calc(-50vw);
            right:    -moz-calc(-50vw);
            right:         calc(-50vw);
        }

        &.open-left {
            opacity: 1!important;
            z-index: 1!important;
        }

        &.overlay-left {
            left: -webkit-calc(-50vw);
            left:    -moz-calc(-50vw);
            left:         calc(-50vw);
        }
        
        h1 {
            font-family: $circular-book;
        }

        h2 {
            font-family: $circular-book;
            &.overlay-copy {
                margin-top: $gutter - 20;
            }
        }
    }
    
    
    .case-study {
        cursor: pointer;
        transition: all 300ms ease-in-out;
        height: 50vh;

        .case-study-image {
            display: flex;
            transition: all 500ms ease-in-out;

            img {
                object-fit: cover;
                height: -webkit-calc(100vh);
                height:    -moz-calc(100vh);
                height:         calc(100vh);
                width: 100%;
                transition: all 500ms ease-in-out;
            }
        }

        &:hover {
            .case-study-copy {
                transition: all 500ms ease-in-out;
                transition-delay: 200ms;
                height: -webkit-calc(50vh);
                height:    -moz-calc(50vh);
                height:         calc(50vh);
                bottom: 0;
                opacity: 1;
            }
        }

        .case-study-copy {
            padding: $mobile-gutter*2 $mobile-gutter;
            position: absolute;
            bottom: 0px;
            background-color: $lighter-green;
            left: 0px;
            width: 100%;
            height: -webkit-calc(50vh);
            height:    -moz-calc(50vh);
            height:         calc(50vh);
            transition: all 500ms ease-in-out;
            bottom: -50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;

            h3 {
                font-family: $circular-book!important;
                padding-top: 0px;
                margin-top: -20px;
            }
    
            h2 {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        
    }

}


.cta {
    background-color: $tan;
    padding: $gutter*1.5 $mobile-gutter - 10;

    .col-lg-9 {
        margin-left: $gutter;
    }
    
    p {
        font-size: 28px;
        line-height: 65px;

        a {
            color: $black;
            border-bottom: 2px solid $black;
            padding-bottom: 2px;
            padding: 0px 4px 2px 4px;
            &:hover {
                transition: 0.2s ease-in-out;
                box-shadow: inset 0 -40px 0 #F3E84C;
                color: $black;
                border-color: #F3E84C;
            }
        }
        
    }
}