.rural-farmers {
    background-color: $light-green;
    padding: $mobile-gutter*2 0px;
    
    h1 {
        margin-bottom: $mobile-gutter;
    }

    h3 {
        margin-bottom: $gutter/2;
    }

    .team-member {
        h3 {
            margin-bottom: 10px;
        }
        
    }

    span {
        @extend .background-span-blue;
        background-color: $brand-green;
        color: $tan;
    }

    .rural-farmers-reasons {
        background-color: white;
        padding: $mobile-gutter*2 $mobile-gutter*2;
        color: $brand-green;

        .reason {
            margin-bottom: $mobile-gutter - 10px;
            padding: 0px 20px;
            &::after {
                content: '+';
                color: $lighter-green;
                text-align: center;
                font-size: 70px;
                font-weight: 100;
                font-family: Helvetica Neue,"Circular Book";
                font-weight: 200;
            }

            &:last-of-type::after {
                display: none;
            }
        }
        p {
            color: $brand-green;
            font-size: 24px;
        }
    }
}
