.team-member {
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
    margin-bottom: $gutter;
    text-align: left;


    .member-copy {
        margin-top: $mobile-gutter;
        a {
            color: $brand-green;
            &:hover {
                color: $lighter-green;
            }
        }
    }
}

.team-member-page {
    button {
        margin-top: $mobile-gutter;
    }
}

.team-right {
    margin-top: $gutter / 2;
    p {
        font-size: 18px!important;
        color: $black;
        margin-top: $gutter / 2;
    }
}