@font-face {
    font-family: 'Circular Air';
    src: url('../fonts/CircularAir-Bold.eot');
    src: url('../fonts/CircularAir-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularAir-Bold.woff2') format('woff2'),
        url('../fonts/CircularAir-Bold.woff') format('woff'),
        url('../fonts/CircularAir-Bold.svg#CircularAir-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Air Book';
    src: url('../fonts/CircularAir-Book.eot');
    src: url('../fonts/CircularAir-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularAir-Book.woff2') format('woff2'),
        url('../fonts/CircularAir-Book.woff') format('woff'),
        url('../fonts/CircularAir-Book.svg#CircularAir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Air Black';
    src: url('../fonts/CircularAir-Black.eot');
    src: url('../fonts/CircularAir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularAir-Black.woff2') format('woff2'),
        url('../fonts/CircularAir-Black.woff') format('woff'),
        url('../fonts/CircularAir-Black.svg#CircularAir-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


