.form {

    input, #inputComment, textarea {
        font-family: $circular-book;
        font-size: 18px;
        background-color: white;
        border-radius: 0px;
        border: 0px;
        padding: 18px 25px;
        border: #e5e5e5;
        color: $black!important;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $black;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $black;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $black;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $black;
        }
    }

    #inputComment {
        min-height: 200px;
    }
    

}

