body, html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: $tan;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    line-height: 1.6;
}

h1, h2, h4, h5, h6 {
  font-family: $circular-black;
}

h3 {
  font-family: $circular-book;
}

p {
    font-family: $circular-book;
    font-size: 18px;
    color: $black;
    letter-spacing: 1px;
    line-height: 1.6;
}

a {
  transition: all 500ms ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

.subtitle {
  text-transform: uppercase;
  font-size: 16px;
}

.container {
  padding-left: 45px;
  padding-right: 45px;
}

button {
    font-family: $circular-black;
    font-size: 18px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px 45px;
    border: 3px solid $black;
    margin-top: $mobile-gutter;
    cursor: pointer;
    transition: all 500ms ease-in-out;

    &:hover {
      background-color: $light-blue;
    }

    &.white {
        border: 2px solid white;
        color: white;
    }
}

.background-span-blue {
  background-color: $light-blue;
  font-size: 32px;
  padding: 7px;
  line-height: 1.9;
  color: $copy-green;
}

footer {
    background-color: $black;
    height: auto;
    padding: $mobile-gutter;

    p {
        color: white;
        font-size: 15px;
    }

    a {
        color: white;
        border-bottom: 2px solid white;
    }
}



/** REACT BURGER MENU **/

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 41px;
    height: 35px;
    right: 31px;
    top: 31px;

    background-color: $tan;
    border: 5px solid $tan;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $black;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    width: 25px!important;
    height: 35px!important;
    top: 30px!important;
    right: 40px!important;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: $tan;
    width: 3px;
    height: 30px!important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: $lighter-green;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;

    .menu-item {
        font-family: $circular-black;
        font-size: 34px;
        text-transform: uppercase;
        color: $tan;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: $mobile-gutter;    
    }
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    margin-top: 25px;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }