@include media-breakpoint-up(xs) {
    .main-header {
        height: 110px;
    
        .brand {
            padding-top: 30px;
            img {
                width: 207px;
            }
        }
    }

    .background-span-blue {
        font-size: 28px;
    }
 }
@include media-breakpoint-up(sm) { 

}
@include media-breakpoint-up(md) { 

    .bm-menu {
        .menu-item-wrapper {
            margin-bottom: 26px;

            .menu-item {
                font-size: 34px;
                margin-bottom: $mobile-gutter/2;
            }
            .sub-menu-item {
                font-size: 28px;
            }
        }
    }

}
@include media-breakpoint-up(lg) {
    .hero {
        height: -webkit-calc(100vh - 148px);
        height:    -moz-calc(100vh - 148px);
        height:         calc(100vh - 148px);
        h1 {
            padding: 80px 50px;
            line-height:
            span {
                font-size: 46px;
            }
        }
    }

    .background-span-blue {
        padding: 7px $gutter/2;
    }

    .page-content-left {
        text-align: center;
        button {
            margin-right: 28px;
            &:nth-of-type(1) {
            margin-top: -3px;
            }
            &:first-of-type {
            margin-top: 0px;
            }
        }
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-header {
        z-index: 1001;
        position: relative;

        .main-nav {
            margin-top: 22px;
                .main-nav-wrapper {

                    .nav-item {
                        padding: 0px 10px;
                    }

                    &:first-of-type {
                        .nav-item {
                            padding-left: 44px;
                        }
                        
                        .sub-nav-item {
                            padding-left: 44px;
                        }
                    }

                    &:last-of-type .nav-item {
                        padding-right: 43px;
                    }
            }
        }
    }

    .intro {
        padding: $gutter*2 0px;
        height: 620px;
    }

    .rural-farmers {
        padding: $gutter*2+20 0px;

        .reason {
            padding: 40px 50px;
            &::after {
                position: absolute;
                right: -15px;
                top: 80px;
            }
        }
    }

    .case-studies {
        .overlay {
            padding: $gutter 180px;
        }
        .case-study {
            padding-left:0px;
            padding-right: 0px;
            .case-study-copy {
                padding: 30px $gutter;
                h2 {
                    font-size: 28px;
                }
                button {
                    margin-top: 10px;
                }
            }
        }
    }
    
    .bm-menu-wrap {
        width: 40%!important;
    }

    .page-hero {
        padding: $gutter*2 - 30 $gutter/2 - 20px;
        h1 {
            font-size: 45px;
        }
    }

    .page-content {
        padding: $gutter*2 0px;

        .page-content-left {
            border-right: 2px solid $black;            
            order: 1;
        }

        .page-content-right {
            order: 2;
        }
    }

    .background-span-blue {
        font-size: 45px;
    }
    .team-right {
        margin-top: 0px;
    }
}
@include media-breakpoint-up(xl) { 
    

    .main-header {
        height: 148px;
    
        .brand {
            padding-top: 42px;
            img {
                width: 266px;
            }
        }

        .main-nav {
            margin-top: 42px;

            .main-nav-wrapper {

                .nav-item {
                    padding: 0px 25px;
                }

                &:first-of-type {
                    .nav-item {
                        padding-left: 58px;
                    }
                    
                    .sub-nav-item {            
                        padding-left: 34px;
                        padding-right: 38px;
                    }
                }
                
                .sub-nav-item {
                    &#team {
                        padding-left: 66px;
                        padding-right: 69px;
                    }
                    &#portfolio {
                        padding-left: 36px;
                        padding-right: 36px;
                    }
                    &#briefings {
                        padding-left: 39px;
                        padding-right: 38px;
                    }
                    &#research {
                        bottom: -92px;
                        padding-left: 45px;
                        padding-right: 45px;
                    }
                }


                &:last-of-type .nav-item {
                    padding-right: 59px;
                }
            }
        }
    }

    .case-studies {
        .overlay {
            padding: $gutter + 30 300px;
        }
        .case-study {
            .case-study-copy {
                h2 {
                    font-size: 34px;
                }
            }
        }
        
    }

    .hero {
        h1 {
            padding: 80px 180px;
            span {
                font-size: 46px;
            }
        }
    }

    .rural-farmers {
        span {
            font-size: 40px;
        }
        .rural-farmers-reasons {
            .reason {
                padding: 40px 73px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .case-studies {
        .overlay {
            padding: $gutter * 2 395px;
        }
    }
}