/* -- VARIABLES -- */

/* BRAND COLORS */

$tan: #fff8ee;
$brand-green: #0b3f30;
$copy-green: #083f30;
$green: #0b5847;
$lighter-green: #139868;
$light-green: #daeee7;
$yellow: #f6ea44;
$black: #102626;
$light-blue: #d9eee7;


/* FONTS */

$circular-air: 'Circular Air';
$circular-book: 'Circular Air Book';
$circular-black: 'Circular Air Black';

/* LAYOUT */

$gutter: 79px;
$lineheight: 1.666rem;
$borderonwhite: rgba(129,146,152, 0.3);
$mobile-gutter: 30px;
$bordersize: 2px;
